.button-remove {
  background-color: black;
  border: transparent;
  height: 30px;
  width: 30px;
}

.img-remove {
  height: 30px;
  width: 30px;
}

.filter {
  align-items: center;
  display: flex;
  margin: 10px;
}
